.container {
  font-family: "Montserrat", sans-serif;
  color: #596aca;
  align-items: center;
}

.search-bar {
  margin-top: 20px;
}

.search-box {
  border-radius: 15px;
  margin-right: 10px;
}

.button {
  color: white;
  background-color: #596aca;
  border-color: #596aca;
}
.city {
  font-size: 34px;
  font-weight: 600;
}
.datetime {
  font-style: italic;
}
#description {
  text-transform: capitalize;
}
.windspeed {
  display: float-end;
}
#weather-icon {
  width: 100px;
  margin-bottom: 20px;
}
.current-temp {
  font-size: 60px;
  font-weight: 600;
}
#degree-c {
  position: relative;
  font-size: 22px;
  top: -25px;
  opacity: 0.7;
}
#degree-c:hover {
  cursor: pointer;
}
#degree-f {
  position: relative;
  font-size: 22px;
  margin-left: -25px;
  opacity: 0.7;
}
#degree-f:hover {
  cursor: pointer;
}
.active {
  font-weight: bolder;
}
.forecast {
  text-align: center;
  font-size: 20px;
}
.footer {
  display: block;
  margin-top: 15px;
  margin-left: 140px;
  font-size: 12px;
  font-style: italic;
}
